// Font path
// --------------------------
@font-face {
  font-family: 'Material Design Iconic Font';
  src: font-url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.eot');
  src: font-url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.eot') format('embedded-opentype'),
  font-url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff') format('woff'),
  font-url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.ttf') format('truetype'),
  font-url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}